<launch>
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" />

    <include file="$(find fast_lio)/launch/mapping_mid360.launch" />

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_camera"
          args="0 0 0 0 0 0 world camera_init" /> -->

    <node pkg="skyrone" type="fastlio_bridge.py" name="fastlio_bridge" output="screen" respawn="true"/>
    <include file="$(find mavros)/launch/apm.launch">
        <arg name="fcu_url" value="/dev/ttyAMA0:115200"/>
        <arg name="gcs_url" value="udp://@10.42.0.31:14550"/>
        <arg name="respawn_mavros" value="true"/>
    </include>

    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <arg name="send_buffer_limit" value="1000000000"/>
    </include>

    </launch>